.AdminLayoutWrapper_layout__dRo02 {
    margin-right: -8rem;
    margin-left: 8rem;
}

.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: row;

    @media (max-width: 768px) {
        display: flex;
        min-height: 100vh;
        flex-direction: row;
    }
}

.main {element.style {
    position: absolute;
    top: 7px;
    left: 175px;
    z-index: 2100;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex
;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
    margin-left: 220px;
    width: calc(100% - 220px);
    transition: margin-left 0.3s ease, width 0.3s ease;

    @media (max-width: 1024px) {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

    @media (max-width: 768px) {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

.content {
    padding: 90px 2rem 2rem;
    background-color: #f5f5f5;
    min-height: calc(100vh - 80px);

    @media (max-width: 1024px) {
        padding: 80px 1.5rem 1.5rem;
    }

    @media (max-width: 768px) {
        padding: 75px 1rem 1rem;
    }

    @media (max-width: 480px) {
        padding: 70px 0.7rem 1rem;
    }
}

.AdminLayoutWrapper_layout__dRo02 {
    margin-right: -8rem;
    margin-left: 8rem;
}